.murph-background {
  background: url('http://murphyshawaii.com/media/2014/04/murphys-front.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;

}

h3 {
  color: #FFFFFF;
}

h4 {
  color: #FFFFFF;
}

.menu.borderless.topmenu {
  box-shadow: none;
  border: none;
  padding: 0px 0px 20px;
}